body {
    background-color: rgb(46, 46, 46);
    color: #ffffff;
    font-family: "Orbitron", sans-serif;

    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;    

    flex-direction: column;
}