p a{
    color: greenyellow;
    text-decoration: none;
}

h2 a {
    color: greenyellow;
    text-decoration: none;
}

.home-text {
    color: greenyellow;
    text-decoration: none;
    font-size: xx-large;
}

.error-404 {
    text-align: center;
    padding-bottom: 100px;
}

.plataform-card {
    color: greenyellow;
    text-decoration: none;
    text-align: center;
}